services:
  - type: web
    name: llm-service
    env: docker
    buildFilter:
      paths:
        - llm_service
      dockerfilePath: Dockerfile
    envVars:
      - key: GROQ_API_KEY
        sync: false
    plan: free
    autoDeploy: true

  - type: web
    name: maps-service
    env: docker
    buildFilter:
      paths:
        - maps_service
      dockerfilePath: Dockerfile
    envVars:
      - key: ORS_API_KEY
        sync: false
    plan: free
    autoDeploy: true

  - type: web
    name: travel-backend
    env: docker
    buildFilter:
      paths:
        - backend
      dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true

  - type: web
    name: travel-frontend
    env: docker
    buildFilter:
      paths:
        - frontend
      dockerfilePath: Dockerfile.dev
    envVars:
      - key: VITE_API_BASE_URL
        sync: false
    plan: free
    autoDeploy: true
