fastapi
uvicorn
psycopg2-binary
python-dotenv
pydantic
httpx
requests
spacy
langdetect
ollama
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
pydantic-settings
pytest
python-multipart
overpy
geopy
watchdog
openrouteservice==2.3.0